$font-family: 'Helvetica Neue';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $m-size;
  background: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
